body {
    background-image: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    display: flex;
    flex-direction: column;
    background-size: 400%;
    background-attachment: fixed;
    animation: bgmove 10s infinite;
    align-items: center;
    justify-content: center;
}

@keyframes bgmove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.Image {
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 10vw;
    border: 2px solid black;
    box-shadow: 0 0 10px 5px black;
    width: 30vw;
    height: 25vh;
    background-image: url('https://img-nos.yiyouliao.com/alph/98567617080cbf2abb6cbee0955a46d4.jpg');
    background-size:100% 100%;
}

.Code {
    font-size: 4vh;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    text-shadow: 0 0 10px #000000;
    background-color: #ffffff;
    padding: 1vw;
    border-radius: 1vw;
}

.Wrapper {
    margin-top: 3vh;
    height: 10vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Talk {

    width: 46ch;
    animation: typing 2s steps(23), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family:cursive;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}